numpy~=1.23.4
scipy~=1.11.1
scikit-image~=0.19.3
matplotlib~=3.6.1

pytest~=7.2.0
setuptools~=59.6.0
pyevtk~=1.5.0
clawpack~=5.9.0
pymor~=2022.1.1
typer~=0.3.2
dill~=0.3.6
tikzplotlib~=0.10.1
torch~=1.12.1+cpu